{% extends 'home.html.twig' %}

{% block MESSAGE %}
    {{ message }}
{% endblock %}

 {% block INFOBOX %}
 {% endblock %}


{% block MAINROW %}
    <!-- Main row -->
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Sales</h3>
                    <!-- Date range -->
                    <form action="sales.php" method="get">
                        <div class="form-group">
                            <label>Date range: {{ date }}</label>
                            <div class="input-group col-xs-8">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input required type="text" class="form-control pull-right" id="reservation" name="date">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-info">View Sales</button>
                                </div><!-- /btn-group -->
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </form>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Receipt ID</th>
                            <th>Product</th>
                            <th>Recipient</th>
                            <th>Recipient Info</th>
                            <th>Qty</th>
                            <th>Total Cost</th>
                            <th>Date Ordered</th>
                            <th>Date Delivered</th>
                        </tr>

                        {% for x in sales %}
                            <tr>
                                <td>{{ x.receipt_id }}</td>
                                <td>{{ x.product_name }}</td>
                                <td>{{ x.recepient }}</td>
                                <td>{{ x.shipping_address1 }}</td>
                                <td>{{ x.qty }}</td>
                                <td>${{ x.cost }}.00</td>
                                <td>{{ x.date_ordered }}</td>
                                <td>{{ x.date_paid }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div>
                        <h4 class="col-xs-3">Totals</h4>
                        <h4 class="col-xs-3">${{ totalSum }}</h4>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="input-group-btn col-xs-7">
                        <a href="#" class="btn btn-info">Generate PDF</a>
                    </div><!-- /btn-group -->
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if  totalPages > 0 %}
                            {% if page == 1 %}
                                <li><a href="#" class="disabled">&laquo;</a></li>
                            {% else %}
                                <li><a href="sales.php?page={{ page - 1  }}" class="disabled">&laquo;</a></li>
                            {% endif %}

                            {% for i in page..page+3 %}
                                {% if i >= 1 and i <= totalPages %}
                                    <li><a href="sales.php?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page == totalPages %}
                                <li><a href="" class="disabled">&raquo;</a></li>
                            {% else %}
                                <li><a href="sales.php?page={{ page + 1 }}" class="disabled">&raquo;</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
    </div><!-- /.row -->
{% endblock %}
