{% extends 'home.html.twig' %}

{% block MESSAGE %}
    {{ message }}
{% endblock %}

{% block MAINROW %}
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Quick Example</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="../controller/laptop_controller.php" method="post">
                    <div class="box-body">
                        <input type="hidden" value="2" name="cmd">
                        <input type="hidden" value="{{ prod.laptop_id }}" name="lid">
                        <div class="form-group">
                            <label for="exampleInputName">Name</label>
                            <input type="text" required class="form-control" id="exampleInputName" name="name" placeholder="Enter name"
                            value="{{ prod.name }}">
                        </div>

                        <!-- select -->
                        <div class="form-group">
                            <label>Brand</label>
                            <select class="form-control" name="brand" required>
                                {% for x in brands %}
                                    {% if prod.brand_name == x.brand_name %}
                                        <option selected value="{{ x.brand_id }}">{{ x.brand_name }}</option>
                                    {% else %}
                                        <option value="{{ x.brand_id }}">{{ x.brand_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <!-- select -->
                        <div class="form-group">
                            <label>Display</label>
                            <select class="form-control" name="disp" required>
                                {% for x in display %}
                                    {% if x.size == prod.display_size %}
                                        <option selected value="{{ x.display_id }}">{{ x.size }} {{ x.display_type }}</option>
                                        {% else %}
                                            <option value="{{ x.display_id }}">{{ x.size }} {{ x.display_type }}</option>
                                        {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <!-- select -->
                        <div class="form-group">
                            <label>Hard Drive</label>
                            <select class="form-control" name="hd" required>
                                {% for x in hard_drive %}
                                    {% if x.size == prod.hd_size %}
                                    <option selected value="{{ x.drive_id }}">{{ x.size }}{{ x.size_metric }}</option>
                                        {% else %}
                                            <option value="{{ x.drive_id }}">{{ x.size }}{{ x.size_metric }}</option>
                                        {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <!-- select -->
                        <div class="form-group">
                            <label>Processor</label>
                            <select class="form-control" name="proc" required>
                                {% for x in processor %}
                                    {% if x.processor_name == prod.processor_name %}
                                        <option selected value="{{ x.processor_id }}">{{ x.processor_name }}</option>
                                        {% else  %}
                                            <option value="{{ x.processor_id }}">{{ x.processor_name }}</option>
                                        {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <!-- select -->
                        <div class="form-group">
                            <label>Memory</label>
                            <select class="form-control" name="ram" required>
                                {% for x in ram %}

                                    {% if x.size == prod.ram %}
                                    <option selected value="{{ x.ram_id }}">{{ x.size }}</option>
                                        {% else %}
                                            <option value="{{ x.ram_id }}">{{ x.size }}</option>
                                        {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <!-- select -->
                        <div class="form-group">
                            <label>Operating System</label>
                            <select class="form-control" name="os" required>
                                {% for x in os %}

                                    {% if x.os_name == prod.os_name %}
                                        <option selected value="{{ x.os_id }}">{{ x.os_name }}</option>
                                        {% else %}
                                            <option value="{{ x.os_id }}">{{ x.os_name }}</option>
                                        {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Color</label>
                            <input type="text" class="form-control" required id="exampleInputPassword1" name="col" placeholder="Quantity"
                                   value="{{ prod.color }}">
                        </div>


                        <div class="form-group">
                            <label for="exampleInputCost">Cost</label>
                            <input type="number" required class="form-control" id="exampleInputCost" name="cost" placeholder="Cost"
                            value="{{ prod.price }}">
                        </div>

                        <!-- textarea -->
                        <div class="form-group">
                            <label>Special features</label>
                            <textarea class="form-control" required rows="3" name="spec" placeholder="Enter Special features">
                                {{ prod.special_features }}
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input type="number" class="form-control" required id="exampleInputPassword1" name="onhand" placeholder="Quantity"
                            value="{{ prod.qty }}">
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="reset" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update Product</button>
                    </div>
                </form>

                <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                    <div id="image_preview"><img style="width: 300px; height: auto" class="col-sm-12" id="previewing" src="../customer_view/{{ prod.image }}" /></div>
                    <hr id="line">
                    {#<div class="form-group" id="selectImage">#}
                        {#<label>Select Your Image</label><br/>#}
                        {#<input type="file" name="file" id="file" required />#}
                        {#<div id="message"></div>#}
                        {#<!--                                            <input type="submit" value="Upload" class="submit" />-->#}
                        {#<button type="submit" class="btn btn-app submit primary">#}
                            {#<i class="fa fa-upload"></i> Upload#}
                        {#</button>#}
                    {#</div>#}
                </form>

            </div><!-- /.box -->
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Recently Added Products</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-img">
                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:;" class="product-title">Samsung TV <span class="label label-warning pull-right">$1800</span></a>
                        <span class="product-description">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                            </div>
                        </li><!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:;" class="product-title">Bicycle <span class="label label-info pull-right">$700</span></a>
                        <span class="product-description">
                          26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                        </span>
                            </div>
                        </li><!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:;" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                        <span class="product-description">
                          Xbox One Console Bundle with Halo Master Chief Collection.
                        </span>
                            </div>
                        </li><!-- /.item -->
                    </ul>
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript:;" class="uppercase">View All Products</a>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}