<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Home</title>

    <!-- Font awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product customer_view slider -->
    <link rel="stylesheet" type="text/css" href="css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="css/theme-color/lite-blue-theme.css" rel="stylesheet">
    <!-- <link id="switcher" href="css/theme-color/bridge-theme.css" rel="stylesheet"> -->
    <!-- Top Slider CSS -->
    <link href="css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!-- Main style sheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you customer_view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
{#<!-- wpf loader Two -->#}
{#<div id="wpf-loader-two">#}
    {#<div class="wpf-loader-two-inner">#}
        {#<span>Loading</span>#}
    {#</div>#}
{#</div>#}
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header id="aa-header">
    <!-- start header top  -->
    {% block TOPHEADER %}
    <div class="aa-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-top-area">
                        <!-- start header top left -->
                        <div class="aa-header-top-left">
                            <!-- start language -->
                            <div class="aa-language">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <img src="img/flag/english.jpg" alt="english flag">ENGLISH
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#"><img src="img/flag/french.jpg" alt="">FRENCH</a></li>
                                        <li><a href="#"><img src="img/flag/english.jpg" alt="">ENGLISH</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- / language -->

                            <!-- start currency -->
                            <div class="aa-currency">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-usd"></i>USD
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#"><i class="fa fa-euro"></i>EURO</a></li>
                                        <li><a href="#"><i class="fa fa-jpy"></i>YEN</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- / currency -->
                            <!-- start cellphone -->
                            <div class="cellphone hidden-xs">
                                <p><span class="fa fa-phone"></span>00-62-658-658</p>
                            </div>
                            <!-- / cellphone -->
                        </div>
                        <!-- / header top left -->
                        <div class="aa-header-top-right">
                            <ul class="aa-head-top-nav-right">
                                <li class="hidden-xs"><a href="cart.php">My Cart</a></li>
                                <li class="hidden-xs"><a href="checkout.php">Checkout</a></li>
                                <li><a href="" data-toggle="modal" data-target="#login-modal">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header top  -->
    {% endblock %}

    {% block LOGOANDCART %}
    <!-- start header bottom  -->
    <div class="aa-header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-bottom-area">
                        <!-- logo  -->
                        <div class="aa-logo">
                            <!-- Text based logo -->
                            <a href="home.php">
                                <span class="fa fa-laptop"></span>
                                <p>best<strong>Notebooks</strong> <span>YOUR NOTEBOOK SHOPPING PARTNER</span></p>
                            </a>
                            <!-- img based logo -->
                            <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
                        </div>
                        <!-- / logo  -->
                        <!-- cart box -->
                        <div class="aa-cartbox">
                            <a class="aa-cart-link" href="#">
                                <span class="fa fa-shopping-cart"></span>
                                <span class="aa-cart-title">SHOPPING CART</span>
                                <span class="aa-cart-notify">{{ nItems }}</span>
                            </a>
                            <div class="aa-cartbox-summary">
                                <ul>
                                    {% for prod in cartDetails %}
                                    <li>
                                        <a class="aa-cartbox-img" href="#"><img src="{{ prod.image }}" alt="img"></a>
                                        <div class="aa-cartbox-info">
                                            <h4><a href="#">{{ prod.product_name }}</a></h4>
                                            <p>{{ prod.count }} x ${{ prod.price }}</p>
                                        </div>
                                        <a class="aa-remove-product" href="{{ currentPage }}?func=3&id={{ prod.laptop_id }}"><span class="fa fa-times"></span></a>
                                    </li>
                                    {% endfor %}
                                    <li>
                      <span class="aa-cartbox-total-title">
                        Total
                      </span>
                      <span class="aa-cartbox-total-price">
                        ${{ sub_total }}
                      </span>
                                    </li>
                                </ul>
                                <a class="aa-cartbox-checkout aa-primary-btn" href="checkout.php">Checkout</a>
                            </div>
                        </div>
                        <!-- / cart box -->
                        <!-- search box -->
                        <div class="aa-search-box">
                            <form action="products.php" method="get">
                                <input type="hidden" name="cmd" value="2">
                                <input type="hidden" name="vt" value="2">
                                <input type="text" name="st" id="" placeholder="Search here ex. 'man' ">
                                <button type="submit"><span class="fa fa-search"></span></button>
                            </form>
                        </div>
                        <!-- / search box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- / header bottom  -->
</header>
<!-- / header section -->
<!-- menu -->
{% block MENU %}
<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                        <li><a href="home.php">Home</a></li>
                        <li><a href="#">Products <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for x in brands %}
                                <li><a href="products.php?cmd=1&brand={{ x.brand_id }}&vt=1">{{ x.brand_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- / menu -->
<!-- Start slider -->
{% block SLIDER %}
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="img/banner/1.png" alt="Men slide img" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 75% Off</span>
                            <h2 data-seq>Laptop Collection</h2>
                            <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="img/banner/2.png" alt="Wristwatch slide img" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 40% Off</span>
                            <h2 data-seq>Laptop Collection</h2>
                            <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="img/banner/3.png" alt="Women Jeans slide img" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 75% Off</span>
                            <h2 data-seq>Laptop Collection</h2>
                            <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
{% endblock %}
<!-- / slider -->
<!-- Start Promo section -->
{% block PROMO %}
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">
                        <!-- promo left -->
                        <div class="col-md-5 no-padding">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <img src="img/brands/mac.png" alt="img">
                                    <div class="aa-prom-content">

                                        <h4><a href="#"></a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- promo right -->
                        <div class="col-md-7 no-padding">
                            <div class="aa-promo-right">
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="img/brands/microsoft.png" alt="img">
                                        <div class="aa-prom-content">

                                            <h4><a href="#"></a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="img/brands/asus.png" alt="img">
                                        <div class="aa-prom-content">

                                            <h4><a href="#"></a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="img/brands/lenovo.png" alt="img">
                                        <div class="aa-prom-content">

                                            <h4><a href="#"></a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="img/brands/toshiba.png" alt="img">
                                        <div class="aa-prom-content">
                                            <h4><a href="#"></a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- / Promo section -->
<!-- Products section -->
{% block PRODUCTS %}
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">

                                {% for x in brands %}

                                    {% if loop.first %}
                                        <li class="active"><a href="#Apple" data-toggle="tab">{{ x.brand_name }}</a></li>
                                    {% elseif loop.index0 == 1  %}
                                        <li><a href="#Microsoft" data-toggle="tab">{{ x.brand_name }}</a></li>
                                    {% elseif loop.index0 == 2  %}
                                        <li><a href="#Dell" data-toggle="tab">{{ x.brand_name }}</a></li>
                                    {% elseif loop.index0 == 3  %}
                                        <li><a href="#Hp" data-toggle="tab">{{ x.brand_name }}</a></li>
                                    {% elseif loop.index0 == 4  %}
                                        <li><a href="#Asus" data-toggle="tab">{{ x.brand_name }}</a></li>
                                    {% elseif loop.index0 == 5  %}
                                        <li><a href="#Toshiba" data-toggle="tab">{{ x.brand_name }}</a></li>
                                    {% elseif loop.index0 == 6  %}
                                        <li><a href="#Lenovo" data-toggle="tab">{{ x.brand_name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for x in catTab %}

                                    {% if loop.first %}
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="Apple">
                                    {% elseif loop.index0 == 1 %}
                                    <div class="tab-pane fade" id="Microsoft">
                                    {% elseif loop.index0 == 2 %}
                                    <div class="tab-pane fade" id="Dell">
                                    {% elseif loop.index0 == 3 %}
                                    <div class="tab-pane fade" id="Hp">
                                    {% elseif loop.index0 == 4 %}
                                    <div class="tab-pane fade" id="Asus">
                                    {% elseif loop.index0 == 5 %}
                                    <div class="tab-pane fade" id="Toshiba">
                                    {% elseif loop.index0 == 6 %}
                                    <div class="tab-pane fade" id="Lenovo">
                                    {% endif %}
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        {% for y in x %}
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="#"><img src="{{ y.image }}" alt="laptop img"></a>
                                                <a class="aa-add-card-btn"href="{{ currentPage }}?func=1&id={{ y.laptop_id }}">
                                                    <span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="#">{{ y.product_name }}</a></h4>
                                                    <span class="aa-product-price">${{ y.price }}</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            <span class="aa-badge aa-hot" href="#">NEW!</span>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                    <p class="text-center"><a class="aa-browse-btn text-center" href="products.php" >Browse all Product <span class="fa fa-long-arrow-right"></span></a></p>

                                </div>
                                {% endfor %}

                            </div>
                            <!-- quick customer_view modal -->
                            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="row">
                                                <!-- Modal customer_view slider -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-slider">
                                                        <div class="simpleLens-gallery-container" id="demo-1">
                                                            <div class="simpleLens-container">
                                                                <div class="simpleLens-big-image-container">
                                                                    <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
                                                                        <img src="img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="simpleLens-thumbnails-container">
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                                                   data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                                                    <img src="img/view-slider/thumbnail/polo-shirt-1.png">
                                                                </a>
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                                                   data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                                                    <img src="img/view-slider/thumbnail/polo-shirt-3.png">
                                                                </a>

                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                                                   data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                                                    <img src="img/view-slider/thumbnail/polo-shirt-4.png">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal customer_view content -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-content">
                                                        <h3>T-Shirt</h3>
                                                        <div class="aa-price-block">
                                                            <span class="aa-product-view-price">$34.99</span>
                                                            <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                                                        <h4>Size</h4>
                                                        <div class="aa-prod-view-size">
                                                            <a href="#">S</a>
                                                            <a href="#">M</a>
                                                            <a href="#">L</a>
                                                            <a href="#">XL</a>
                                                        </div>
                                                        <div class="aa-prod-quantity">
                                                            <form action="">
                                                                <select name="" id="">
                                                                    <option value="0" selected="1">1</option>
                                                                    <option value="1">2</option>
                                                                    <option value="2">3</option>
                                                                    <option value="3">4</option>
                                                                    <option value="4">5</option>
                                                                    <option value="5">6</option>
                                                                </select>
                                                            </form>
                                                            <p class="aa-prod-category">
                                                                Category: <a href="#">Polo T-Shirt</a>
                                                            </p>
                                                        </div>
                                                        <div class="aa-prod-view-bottom">
                                                            <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                            <a href="#" class="aa-add-to-cart-btn">View Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- / quick customer_view modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- / Products section -->
<!-- popular section -->
<!-- Support section -->
{% block SUPPORT %}

{% endblock %}
<!-- / Support section -->
<!-- Testimonial -->
{% block TESTIMONIAL %}

{% endblock %}
<!-- / Testimonial -->

<!-- Latest Blog -->
{% block BLOG %}

{% endblock %}
<!-- / Latest Blog -->

<!-- Client Brand -->
{% block CLIENTBRAND %}
<section id="aa-client-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-brand-area">
                    <ul class="aa-client-brand-slider">
                        <li><a href="#"><img src="img/client-brand-java.png" alt="java img"></a></li>
                        <li><a href="#"><img src="img/client-brand-jquery.png" alt="jquery img"></a></li>
                        <li><a href="#"><img src="img/client-brand-html5.png" alt="html5 img"></a></li>
                        <li><a href="#"><img src="img/client-brand-css3.png" alt="css3 img"></a></li>
                        <li><a href="#"><img src="img/client-brand-wordpress.png" alt="wordPress img"></a></li>
                        <li><a href="#"><img src="img/client-brand-joomla.png" alt="joomla img"></a></li>
                        <li><a href="#"><img src="img/client-brand-java.png" alt="java img"></a></li>
                        <li><a href="#"><img src="img/client-brand-jquery.png" alt="jquery img"></a></li>
                        <li><a href="#"><img src="img/client-brand-html5.png" alt="html5 img"></a></li>
                        <li><a href="#"><img src="img/client-brand-css3.png" alt="css3 img"></a></li>
                        <li><a href="#"><img src="img/client-brand-wordpress.png" alt="wordPress img"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- / Client Brand -->

<!-- Subscribe section -->
{% block SUBSCRIBE %}
    <br>
    <br>
{#<section id="aa-subscribe">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#<div class="aa-subscribe-area">#}
                    {#<h3>Subscribe our newsletter </h3>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>#}
                    {#<form action="" class="aa-subscribe-form">#}
                        {#<input type="email" name="" id="" placeholder="Enter your Email">#}
                        {#<input type="submit" value="Subscribe">#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}
{% endblock %}
<!-- / Subscribe section -->

<!-- footer -->
{% block FOOTER %}
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <h3>Main Menu</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">Our Products</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Legal Information</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="tos.php">Terms of Service</a></li>
                                            <li><a href="#">Disclaimer</a></li>
                                            <li><a href="#">Waranty</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                {#<div class="aa-footer-widget">#}
                                    {#<div class="aa-footer-widget">#}
                                        {#<h3>Useful Links</h3>#}
                                        {#<ul class="aa-footer-nav">#}
                                            {#<li><a href="#">Site Map</a></li>#}
                                            {#<li><a href="#">Search</a></li>#}
                                            {#<li><a href="#">Advanced Search</a></li>#}
                                            {#<li><a href="#">Suppliers</a></li>#}
                                            {#<li><a href="#">FAQ</a></li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                {#</div>#}
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Contact Us</h3>
                                        <address>
                                            <p> 2 University Ave, GH</p>
                                            <p><span class="fa fa-phone"></span>+233 200 393 945</p>
                                            <p><span class="fa fa-envelope"></span>bestNotebooks@bestbooks.com</p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-youtube"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<!-- footer-bottom -->#}
    {#<div class="aa-footer-bottom">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="aa-footer-bottom-area">#}
                        {#<p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>#}
                        {#<div class="aa-footer-payment">#}
                            {#<span class="fa fa-cc-mastercard"></span>#}
                            {#<span class="fa fa-cc-visa"></span>#}
                            {#<span class="fa fa-paypal"></span>#}
                            {#<span class="fa fa-cc-discover"></span>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</footer>
{% endblock %}
<!-- / footer -->

{% block LOGIN %}
<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Login or Register</h4>
                <form class="aa-login-form" action="">
                    <label for="">Username or Email address<span>*</span></label>
                    <input type="text" placeholder="Username or email">
                    <label for="">Password<span>*</span></label>
                    <input type="password" placeholder="Password">
                    <button class="aa-browse-btn" type="submit">Login</button>
                    <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
                    <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                    <div class="aa-register-now">
                        Don't have an account?<a href="account.html">Register now!</a>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="js/jquery.smartmenus.js"></script>
<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="js/jquery.smartmenus.bootstrap.js"></script>
<!-- To Slider JS -->
<script src="js/sequence.js"></script>
<script src="js/sequence-theme.modern-slide-in.js"></script>
<!-- Product customer_view slider -->
<script type="text/javascript" src="js/jquery.simpleGallery.js"></script>
<script type="text/javascript" src="js/jquery.simpleLens.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="js/nouislider.js"></script>
<!-- Custom js -->
<script src="js/custom.js"></script>

<script src="js/input_validation.js"></script>

</body>
</html>